<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
	    <title>Universidad Latina - Educación en línea - Solicitud</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
	    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/precarga.js"></script>
		<link rel="stylesheet" href="css/generalidades.css"/>
	</head>
	<body>
		<form id="form-precarga" class="form-precarga" method="post" th:action="@{/distribuir}" th:object="${user}">
			<div class="container">
				<!-- ######################## INICIO DE LA SOLICITUD DEL REGISTRO ######################## -->
				<h1 class="centrado">Confirmar datos</h1>
				<hr/>
				<!-- ######################## INSTRUCCIONES ######################## -->
					<div class="col-md-12 mb-12">
	  					<div class="alert alert-primary" role="alert">				  				
							<b>Instrucciones: </b> Realiza la revisión de los datos que has capturado, si requieres editar algún dato presiona el botón "Editar", en caso contrario confirma el registro de solicitud</div>
		  			</div>
	  			<!-- ######################## FIN INSTRUCCIONES ######################## -->
	  			
	  			<!-- ######################## PASOS ######################## -->
				<ul class="nav nav-tabs" id="myTab" role="tablist">
				  	<li class="nav-item">
				    	<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Paso 1. Datos personales</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Paso 2. Dirección</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Paso 3. Datos académicos</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" id="contact-tab" data-toggle="tab" href="#oferta" role="tab" aria-controls="oferta" aria-selected="false">Paso 4. Oferta académica</a>
				  	</li>
				</ul>
				<!-- ######################## FIN PASOS ######################## -->
								
				<!-- ######################## C O N T E N I D O  ######################## -->
				<div class="tab-content" id="myTabContent">
					
					
					<!-- ######################## DATOS PERSONALES  ######################## -->
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				  		<div class="form-row">
					    	<div class="col-md-4 mb-3">
					    			<br/>				    		
							    	<label for="nombre">Nombre(s)</label> <!-- is-invalid -->
							    	<div class="alert alert-info" role="alert">
							      		<p th:text="${user.nombre}"></p>
							      		<input type="hidden" id="nombre-val" th:value="${user.nombre}" name="nombre"/>
						      		</div>
						    </div>
						    <div class="col-md-4 mb-3">
						    	<br/>
						    	<label for="APaterno">Apellido paterno</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						      		<p id="APaterno" th:text="${user.APaterno}"></p>
						      		<input type="hidden" id="APaterno-val" th:value="${user.APaterno}" name="APaterno"/>
					      		</div>
						    </div>
						    <div class="col-md-4 mb-3">
						    	<br/>
						    	<label for="AMaterno">Apellido Materno</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						      		<p id="AMaterno" th:text="${user.AMaterno}"></p>
						      		<input type="hidden" id="AMaterno-val" th:value="${user.AMaterno}" name="AMaterno"/>
					      		</div>
						    </div>
				  		</div>
					  	<div class="form-row">
					    	<div class="col-md-4 mb-3">
						    	<label for="email">Correo electrónico</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						      		<p id="email" th:text="${user.tblContacto.email}"></p>
						      		<input type="hidden" id="email-val" th:value="${user.tblContacto.email}" name="email"/>
					      		</div>
						    </div>
						    <div class="col-md-4 mb-3">
						    	<label for="curp">CURP</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						    		<p id="curp" th:text="${user.curp}"></p>
						    		<input type="hidden" id="curp-val" th:value="${user.curp}" name="curp"/>
					    		</div>
						    </div>
						    <div class="col-md-4 mb-3">
						    	<label for="rfc">RFC</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						    		<p id="rfc" th:text="${user.rfc}"></p>
						    		<input type="hidden" id="rfc-val" th:value="${user.rfc}" name="rfc"/>
					    		</div>
						    </div>
					  	</div>
					  	<div class="form-row">
						    <div class="col-md-4 mb-3">
						    	<label for="telefonoLocal">Teléfono</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						    		<p id="telefonoLocal" th:text="${user.tblContacto.telefonoLocal}"></p>
						    		<input type="hidden" id="telefonoLocal-val" th:value="${user.tblContacto.telefonoLocal}" name="telefonoLocal"/>
					    		</div>
						    </div>
						    <div class="col-md-4 mb-3">
					    		<label for="telefonoCelular">Teléfono</label> <!-- is-invalid -->
					    		<div class="alert alert-info" role="alert">
					    			<p id="telefonoCelular" th:text="${user.tblContacto.telefonoCelular}"></p>
					    			<input type="hidden" id="telefonoCelular-val" name="telefonoCelular" th:value="${user.tblContacto.telefonoCelular}"/>
				    			</div>
						    </div>
						    <div class="col-md-4 mb-3 centrado">
					    		<label for="genero">Género</label> <!-- is-invalid -->
					    		<div class="alert alert-info" role="alert">
					    			<p id="genero" th:text="${user.genero}"></p>
					    			<input type="hidden" id="genero-val" name="genero" th:value="${user.genero}"/>
				    			</div>			    	
					    	</div>
				  		</div>
				  		<div class="form-row">
						    <div class="col-md-4 mb-3">
						    	<label for="telefonoLocal">Fecha de Nacimiento: </label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						    		<p id="fechaNacimiento" th:text="${user.fechaNacimiento}"></p>
						    		<input type="hidden" id="fechaNacimiento-val" th:value="${user.fechaNacimiento}" name="fechaNacimiento"/>
					    		</div>
						    </div>					    
				  		</div>
			  		</div>
			  		<!-- ######################## FIN DATOS PERSONALES  ######################## -->
			  		
			  		
			  		<!-- ######################## DIRECCIÓN  ######################## -->
				  	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="form-row">
					    	<div class="col-md-6 mb-3">
					    		<br/>
						    	<label for="calle">Calle</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						      		<p id="calle" th:text="${user.tblDireccion.calle}"></p>
						      		<input type="hidden" id="calle-val" th:value="${user.tblDireccion.calle}" name="calle"/>
					      		</div>
						    </div>
						    <div class="col-md-6 mb-3">
						    	<br/>
						    	<label for="colonia">Colonia</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						      		<p id="colonia" th:text="${user.tblDireccion.colonia}"></p>
						      		<input type="hidden"  id="colonia-val" th:value="${user.tblDireccion.colonia}" name="colonia"/>
					      		</div>
						    </div>
				  		</div>
				  		<div class="form-row">
				  			<div class="col-md-4 mb-3">
						    	<label for="numeroInterno">Número interior</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						      		<p id="numeroInterno" th:text="${user.tblDireccion.numeroInterno}"></p>
						      		<input type="hidden" id="numeroInterno-val" th:value="${user.tblDireccion.numeroInterno}" name="numeroInterno"/>
					      		</div>
						    </div>
						    <div class="col-md-4 mb-3">
						    	<label for="numeroExterno">Número exterior</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						      		<p id="numeroExterno" th:text="${user.tblDireccion.numeroExterno}"></p>
						      		<input type="hidden" id="numeroExterno-val" th:value="${user.tblDireccion.numeroExterno}" name="numeroExterno"/>
					      		</div>
						    </div>
						    <div class="col-md-4 mb-3">
						    	<label for="codigoPostal">Código postal</label> <!-- is-invalid -->
						    	<div class="alert alert-info" role="alert">
						      		<p id="codigoPostal" th:text="${user.tblDireccion.codigoPostal}"></p>
						      		<input type="hidden" id="codigoPostal-val" th:value="${user.tblDireccion.codigoPostal}" name="codigoPostal"/>
					      		</div>
						    </div>
					    </div>
					    <div class="form-row">
					    	<div class="col-md-4 mb-3">				    	
					    		<p>País de residencia:</p>
					    		<div class="alert alert-info" role="alert">
							  		<p id="pais" th:text="${user.tblDireccion.catPais.nombre}"></p>
							  		<input type="hidden" id="pais-val" th:value="${user.tblDireccion.catPais.id}" name="catPais.id"/>
						  		</div>
					    	</div>
						    <div class="col-md-4 mb-3">
						    	<div id="estado-republica-mexicana">
							    	<p>Estado de residencia:</p>
							    	<div class="alert alert-info" role="alert">
								  		<p id="estado" th:text="${user.tblDireccion.catEstado.nombre}"></p>
								  		<input type="hidden" id="estado-val" th:value="${user.tblDireccion.catEstado.id}" name="catEstado.id"/>
							  		</div>
						  		</div>
						  		<input type="hidden" id="value-ciudad-internacional" th:value="${user.tblDireccion.ciudadInternacional}" name="ciudadInternacional"/>
						  		<div class="oculto" id="ciudadInternacional">
						  			<p>Ciudad o provincia:</p>
							    	<div class="alert alert-info" role="alert">
								  		<p id="estado" th:text="${user.tblDireccion.ciudadInternacional}"></p>								  		
							  		</div>
						  		</div>
					  		</div>
					  		<div class="col-md-4 mb-3">
					    	</div>
				  		</div>
				  	</div>	
				  	<!-- ######################## FIN DIRECCIÓN  ######################## -->
				  	
				  	<!-- ######################## DATOS ACADÉMICOS  ######################## -->
				  	<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="profile-tab">
						<div class="form-row">
							<br/>
					    	<div th:if="${user.tblFormacionAcademicas.size() > 0}" class="col-md-12 mb-12">		
								<div class="table-responsive">		
									<table class="table table-hover">
										<thead>
											<tr>							
												<th scope="col">Institución</th>
												<th scope="col">Documento obtenido</th>
												<th scope="col">Grado de estudios</th>
												<th scope="col">Título</th>
												<th scope="col" class="oculto">idGrado</th>
											</tr>
										</thead>
										<tbody id="formaciones">
		   									<th:block th:each="formacion : ${user.tblFormacionAcademicas}">
		      									<tr class="registro">	      					
		      										<td class="institucion" th:text="${formacion.institucion}">...</td>
		         									<td class="documento" th:text="${formacion.documentoObtenido}">...</td>	         						       					
		         									<td class="grado" th:text="${formacion.catGradoEstudios.nombre}">...</td>
		         									<td class="nombre" th:text="${formacion.nombre}">...</td>
		         									<td class="idGrado oculto" th:text="${formacion.catGradoEstudios.id}">...</td>
		      									</tr>      					
		   									</th:block>
	   									</tbody>
									</table>
								</div>								
							</div>
							<input type="hidden" id="nivelesString" name="nivelesString" value=""/>
							<input type="hidden" id="idOfertaAcademica" th:value="${user.tblSolicitudes[0].catOfertaAcademica.id}" name="idOfertaAcademica"/>				    	
				  		</div>
				  	</div>  
				  	<!-- ######################## FIN DATOS ACADÉMICOS  ######################## -->
				  	
				  	<!-- ######################## OFERTA ACADÉMICA  ######################## -->
				  	<div class="tab-pane fade" id="oferta" role="tabpanel" aria-labelledby="profile-tab">
						<div class="form-row">
					    	<div class="col-md-6 mb-6">									
								<br/>			    	
					    		<p>Oferta educativa</p>
					    		<div class="alert alert-info" role="alert">
							  		<p id="pais" th:text="${user.tblSolicitudes[0].catOfertaAcademica.nombre}"></p>
						  		</div>
				    		</div>	
				    		<div class="col-md-12 mb-12 centrado">						    		
		    					<button type="button" class="btn btn-outline-success" onclick="return almacenar();">Confirmar</button>				    				
		    					<button type="button" class="btn btn-outline-danger" onclick="return editar();">Editar</button>
					    	</div>												    	
				  		</div>				  		
				  		<input type="hidden" id="bandera" name="bandera" value=""/>
				  	</div>  
				  	<!-- ######################## FIN OFERTA ACADÉMICA  ######################## -->
			  	</div>
			</div>			
		</form>
	</body>
</html>